*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


nav{
  padding: 0px 40px;
  width: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navber-one{
  background-color: #06074e;
  color: white;
  height: 65px;
  cursor: pointer;
  padding-left: 65px;
}

.navber-one a{
  color: white;
}

.left i{
  font-size: 15px;
}

.left > div {
  margin-left: 10px;
}

.right > div{
  margin-left: 20px;
}

.left a:hover,.right a:hover
{
  color: #0a9415;
  transition: all 0.5s;
}



span{
  margin-left: 0.5px;
}

.navber-two{
  background-color: #fff;
  height: 20px;
}
.social{
  padding: 14px 15px;
}

.social a{
  padding: 13px;
}



header{
  position: relative;
  left: 0;right: 0;
  background: #fff;
  border-bottom: 2px solid #0a9415;
  height: 90px;
  padding: 25px 7%;
  z-index: 1000;
  
}

header .logo img {
  width: 120px; /* Adjust the size of your logo */
  cursor: pointer;
  padding-top: 20px;
}

header .flex ul {
  list-style: none;
}

header .flex ul li {
  position: relative;
  float: left;
}

header .flex ul li a {
 font-size: 20px;
 padding: 20px;
 color: #333;
 display: block;
 padding-top: 40px;
}

header .flex ul li a i {
  font-size: 20px;
}

header .flex ul li  a:hover {
  color: #434346;
  transition: all 0.1s;
  font-weight: 400;
}


header  .flex ul li ul{
  position: absolute;
  left: 0;
  width: 250px;
  background: #fff;
  display: none;
  transition: all 0.8s;
  border-bottom: 2px solid #0a9415;
}

header .flex ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

header ul li:focus-within > ul,
header ul li:hover > ul{
  display: initial;
}

.apply-now {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.apply-button {
  padding: 10px 40px;
  background-color: #943c88;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

.apply-button:hover {
  background-color: #0a9415; /* Change the color on hover */
  transition: all 0.3s;
}









#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #f33c3c;
}

.blog-heading h3{
    color: #2b2b2b;
    font-size: 2.4rem;
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: antiquewhite;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-tittle{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    margin-top: 10px;
}

.blog-text .blog-tittle:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: #0f0f0f;
}

.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.ad{
    margin-top: 50px;
    background-color: #06074e;
    height: 16rem;
    color: #fff;
    margin-bottom: 40px;
    width: 150%;
  }
  
  .ad h3{
   padding: 1rem 0 .1rem 25rem;
   font-size: 35px;
  }
  
  .ad h1{
    padding: 0 0 .1rem 16rem;
    font-size: 50px;
    color: yellow;
   }
  
   .ad p{
    padding: .1rem 0 0 8rem;
    font-size: 16px;
   }
   .view-now {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 35rem;
  }
  
  .view-button {
    padding: 8px 60px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 25px;
  }
  
  .view-button:hover {
    cursor: pointer;
    background-color: #943c88;
    transition: all ease .5s;
  }


  .about-container {
    display: flex;
    max-width: 1200px;
    max-height: 300px;
    margin-left: 55px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 40px;
}

.about-container img {
    width: 45%;
    height: 100%;
    object-fit: cover;
}

.about-text-container{
    margin-top: 35px;
}

.group-container{
    margin-top: 45px;
}



.f_container{
    max-width: 1170px;
    margin: auto;
  }
  
  .f_row{
    display: flex;
    flex-wrap: wrap;
  }
  
  ul{
    list-style: none;
    padding-left: 30px;
  }
  
  .footer{
    background-color: #24262b;
    padding: 40px 0;
    margin-top: 40px;
  }
  
  .footer_col{
    width: 25%;
    padding: 0 15px;
  }
  
  .footer_col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-left: 28px;
  }
  
  .footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0a9415;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
  }
  
  .footer_col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer_col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
  }
  
  .footer_col ul li a:hover{
    color: #fff;
    padding-left: 8px;
    transition: all 0.3s;
  }
  
  .footer_col .social-links a{
    display: inline-block;
    height: 35px;
    width: 38px;
    background-color: rgba(255, 255, 255, .2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    margin-left: 28px;
  }
  
  .footer_col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
    transition: all 0.3s;
  }